.anon-pro {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}

.anonymous-pro-bold {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: normal;
}

.anonymous-pro-regular-italic {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: italic;
}

.anonymous-pro-bold-italic {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: italic;
}

#introduction {
	margin: 5vh 15vw 5vh 15vw;
}

h1, h2, h3, h4, h5 {
	font-family: "Anonymous Pro", monospace;
	font-weight: 400;
}

.title {
	padding: 0;
	margin: 0;
}

#name-and-titles {
	padding-bottom: 0;
}
#name {
    margin-bottom: 0;
}

#email {
    padding-bottom: 2vh;
    margin: 0;
}
#img-container {
	height: 30vh;
	aspect-ratio: 1;
    background-color: #111;
}
#self-image {
    height: 30vh;
    aspect-ratio: auto;
}
/* TODO: Ensure even vertical spacing between headers and paragraph sections */
#bio-section {
}

